body{
	font-size: 20px;
	font-family: sans-serif;
	background-color: #A7DAF6;
	width: 550px;
}

html{
	background-color: white;
}
.question{
	font-weight: 600;
	width: 420px;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #193DFA;
	color: white;
	border: 0px;
	border-radius: 20px;
	padding: 20px;
	padding-left: 30px;
	padding-top: 30px;
	cursor: pointer;
	margin-bottom: 20px;
	left: 370px;
	position: absolute;
	bottom: -490px;
	width: 180px;
}

#Questionnaire{
	padding-left: 30px;
}

#results{
	position: absolute;
}

h1{
	left: 300px;
	padding-left: 150px;
	width: 400px;
	background-color: #193DFA;
	color: white;
}